@model ShopCartViewModel
<div class="container">
    @foreach (var item in Model.ShopCart.ListShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Phone:</b>@item.Phone.Name <br />
            <b>Price:</b>@item.Phone.Price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Pay</a>
</div>